<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rh8d_mujoco_ros2_control" params="">
    <ros2_control name="MujocoSystemHand" type="system">

      <hardware>
        <plugin>mujoco_ros2_control/MujocoSystem</plugin>
      </hardware>

      <!-- Add a parameter called "mujoco_actuator" to each joint, 
           which will be used by the "mujoco_ros2_control" plugin to identify the corresponding "MuJoCo actuator" for each joint -->
            
      <joint name="forearm:1--base:1">
        <param name="mujoco_actuator">pos_forearm</param>
        <command_interface name="position" min="-1.5708" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="palm_axis:1--forearm:1">
        <param name="mujoco_actuator">pos_palm_axis</param>
        <command_interface name="position" min="-1.5708" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="palmL:1--palm_axis:1">
        <param name="mujoco_actuator">pos_palmL</param>
        <command_interface name="position" min="-0.785398" max="0.785398"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="Thumb_axis--palmL:1">
        <param name="mujoco_actuator">pos_thumb_axis</param>
        <command_interface name="position" min="0.0" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>


      <joint name="Index_Proximal--palmL:1">
        <param name="mujoco_actuator">pos_index_tendon</param>
        <command_interface name="position" min="0.0" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="Middle_Proximal--palmL:1">
        <param name="mujoco_actuator">pos_middle_tendon</param>
        <command_interface name="position" min="0.0" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="Ring_Proximal--palmL:1">
        <param name="mujoco_actuator">pos_ring_small_tendon</param>
        <command_interface name="position" min="0.0" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="Thumb_Methacarpal--Thumb_axis">
        <param name="mujoco_actuator">pos_thumb_tendon</param>
        <command_interface name="position" min="0.0" max="1.5708"/>
        <state_interface name="position"/>
        <state_interface name="effort"/>
      </joint>

      <sensor name="palm_range">
          <state_interface name="value"/>
      </sensor>

      <sensor name="thumb_tip_force">
          <state_interface name="x"/>
          <state_interface name="y"/>
          <state_interface name="z"/>
      </sensor>

      <sensor name="index_tip_force">
          <state_interface name="x"/>
          <state_interface name="y"/>
          <state_interface name="z"/>
      </sensor>
      <sensor name="middle_tip_force">
          <state_interface name="x"/>
          <state_interface name="y"/>
          <state_interface name="z"/>
      </sensor>

      <sensor name="ring_tip_force">
          <state_interface name="x"/>
          <state_interface name="y"/>
          <state_interface name="z"/>
      </sensor>

      <sensor name="small_tip_force">
          <state_interface name="x"/>
          <state_interface name="y"/>
          <state_interface name="z"/>
      </sensor>

    </ros2_control>
  </xacro:macro>

  <xacro:rh8d_mujoco_ros2_control/>

</robot>